
<section class="column">
<h1>Game Page</h1>
<% @game.update_time %>
<!--<p><%= @game.user.name%></p>-->
<p><%= "#{@game.seconds_passed} seconds passed" %></p>
<h1>Stock</h1>
<% @game.stocks.each do |stock|%>
    <h2><%= number_with_delimiter(stock.amount, :delimiter => ',') %></h2>
<% end %>
</section>

<section class="column">
<h1>Producers</h1>
<% @game.producers.each do |producer|%>
    <div class="producer">
        <p><%= producer.name %> x <b><%= producer.amount %></b></p>
        <% amount_produced = (producer.amount)*(producer.adjusted_rate)%>
        <% amount = 0 if !amount_produced %>
        <p>Producing : <%= number_with_delimiter(amount_produced.round(0), :delimiter => ',')%> per second</p>
        <p> <%= price_text = "Price " + number_with_delimiter(producer.price.round(0).to_s, :delimiter => ',') + " : " %>
            <% if producer.valid_purchase%>
                <%= link_to "Buy 1", "/producers/#{producer.id}/buy/#{1}" %>
            <% end %>
        </p>
    </div>
<% end %>
</section>


<section class="column">
<h1> Upgrades </h1>
<% @game.unbought_upgrades.each do |available_upgrade|%>
    <div class="upgrade">
        <% upgrade = available_upgrade.upgrade%>
    <p><%= "#{(upgrade.name)}" %></p>
    <p>Price <%= upgrade.price %> : <%= link_to "Buy", "available_upgrades/#{available_upgrade.id}/buy" %>
    </p>
    </div>
<% end %>
<p><%= "Purchased Upgrades: #{@game.bought_upgrades.map {|el| el.upgrade.name}.join(', ')}" %></p>
</section>